<!doctype html>
<html lang="en">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script>
        //  We create the new module here, no dependencies on anything other than AngularJS
        //  The first thing we do is create a controller that wraps the part of the application we want to control.
        //  The controller is the glue that 'binds' the components together on the page, what we do here
        //  is init the controller's value that we will share with the two components 
        angular.module('myApp', [])
            .controller('myController', ['$scope','$rootScope', function ($scope, $rootScope) {            
                var vm = this;
                this.controllerValue = '';            
                
                //  We can listen to the event 'myValueChanged', we can $emit from anywhere in our application  
                //  and because we're in the same $rootScope (IE the controller wraps the components) this
                //  event will be triggered
                $rootScope.$on("myValueChanged", function(evt, changedValue){
                    vm.controllerValue = changedValue;
                });

                //  We also have a function that we can provide a reference for anywhere that sits within our
                //  controller's scope too, we use this in the OutputComponent
                vm.OnUpdate = function (changedValue) {
                    vm.controllerValue = changedValue.val;
                }
            }])    

        //  This TwoWayComponent is taking a reference to 'val' and passing it's value up the tree without any
        //  emit events, becuase it shares the same $rootScope
        angular.module('myApp').component('myTwoWayComponent', {
            template: `<p>Two Way <input type="text" ng-model='$ctrl.val'></p>`,
            bindings: {
                val : '=' // Bindings are passed in TWO WAY here
            }            
        })    

        //  This EmitComponent is going to broadcast any change event upstream into it's enclosing controller's scope
        //  by using the '$rootScope.$emit' service. This is an older way of sending values up the tree, but it's still
        //  very useful.
        angular.module('myApp').component('myEmitComponent', {
            template: `<p>Emit <input type="text" ng-model='$ctrl.myValue' ng-change='$ctrl.MyChange()'></p>`,
            controller: ['$rootScope', function ($rootScope) {
                var vm = this;
                vm.MyChange = function _myChange () {
                    $rootScope.$emit("myValueChanged", vm.myValue);
                }
            }],
            bindings: {
                myValue : '<' // Bindings are passed in ONE WAY here
            }            
        })  

        //  The OutputComponent takes a reference to a function, and the value. We then just wait on the event to
        //  be captured on change, then call the referenced function to update the scope.
        .component('myOutputComponent', {
            template: `<p>Output <input type="text" ng-model="$ctrl.val" ng-change="$ctrl.ChangeEvent($ctrl.val)"></p>`,
            bindings: {
                val : '<',      // Bindings are passed in ONE WAY here
                onUpdate: '&'   // Bindings are passed in by reference here
            },
            controller: function () {
                var vm = this;
                vm.ChangeEvent = function _changeEvent(newValue) {
                    vm.onUpdate({changedValue : newValue})
                }
            }            
        })    
    </script>
</head>
<body ng-app="myApp" ng-controller="myController as $ctrl">     
    <h1>Component Communication and Binding!</h1>  
    <my-emit-component my-value="$ctrl.controllerValue"></my-emit-component>
    <my-two-way-component val="$ctrl.controllerValue"></my-two-way-component>
    <my-output-component val="$ctrl.controllerValue" on-update="$ctrl.OnUpdate({val : changedValue})"></my-output-component>
    <div>
        Controller <input type="text" ng-model='$ctrl.controllerValue'>
    </div>
</body>
</html>
